body {
    /* background-color: #deffe8; */
    background-color: #0B6623;
    color: rgb(102, 101, 101);
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
label {
    font-size: 25px;
}
.transparent-background {
    background: rgb(2 2 2 / 50%);
    padding-top: 1em;
    padding-bottom: 3em;
}
.main-container {
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
    padding-top: 150px;
    padding-bottom: 200px;
    color: #e4e4e4;
    border-bottom: 5px solid #ffd200;
    margin-bottom: 3em;
}
.meal-recipes {
    margin-bottom: 1em;
    padding: 1em 1em 2em 1em;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.id-info {
    margin-top: 3em;
}
#mealInput {
    margin-top: 1em;
    margin-right: 1em;
    height: 40px;
    font-size: 14pt;
    width: 15em;
}
#mealSubmit {
    height: 3em;
    width: 7em;
}
#selector {
    height: 3em;
    margin-right: 1em;
    width: 6em;
}
.a-meal-recipe {
    color: white;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;
    border-style: solid;
    border-color: #ffd200;
    border-radius: 25px;
    background: rgb(95, 165, 111);
}
.a-meal-recipe img{
    width: 200px;
    align-self: center;
}
.a-meal-recipe li{
    text-align: left;
}
a {
    color: #ffd200;
}
a:hover{
    color: red;
}
#mealResults{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer {
    background-color: rgb(95, 165, 111);
    height: 60px;
    text-align: center;
    padding-top: 25px;
    bottom: 0;
    width: 100%;
    border-top: 5px solid #ffd200;
    border-bottom: 5px solid #ffd200;
}


/* Mobile Tablet Styles */
@media only screen and (max-width: 500px) {
    #selector, 
    #mealSubmit{
        display: flex;
        margin-top: 1em;
        width: auto;
    }
    .transparent-background {
        display: flex;
        flex-direction: column;
        text-align: -webkit-center;
    }
    #mealInput {
        width: auto;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

} 